<header class="bg-primary">
    <div class="container header">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
            <a class="navbar-brand" href="#"> <i class="fas fa-shipping-fast"></i> <strong> Flipkart</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline ">
                    <input class="form-control search-bar" type="text" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="Search Product">
                    <span class="fas fa-search search-icon"></span>
                </form>
            </div>
            <button class="btn btn-primary" routerLink="cart">
              <i class="fas fa-cart-plus"></i>
              <div class="badge bg-danger">{{totalItems}}</div>
            </button>
        </nav>
    </div>

</header>